.Btn {
    width: 140px;
    height: 36px;
    margin-left: 20px;
    border-radius: 4px;
    font-size: 14px;
    min-width: 54px;
    border: none;
    color: #303134;
    cursor: pointer;
}

.Btn:hover {
    border: 1px solid #303134;
}